body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  /* Equivalent to 16px by default */
  font-weight: 400;
  /* Normal */
  line-height: 1.5;
  color: #212529;
  /* Dark gray */
  text-align: left;
}

/* Map Layout */
#map-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

/* Offcanvas Search Styling */
#searchBoxContainer {
  position: relative;
}

#valveSuggestions {
  max-height: 200px;
  overflow-y: auto;
}

#valveSuggestions li {
  cursor: pointer;
}

#valveSuggestions li:hover {
  background-color: #007bff;
  color: #fff;
}

/* Legend control fixed on map */
.maplibregl-ctrl.legend-control {
  position: fixed;
  bottom: 50px;
  right: 0;
}

.maplibregl-popup-content .btn {
  all: unset;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 0.25rem;
  cursor: pointer;
}

.maplibregl-popup-content .btn:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}


@media (max-width: 992px) {
  #map-title {
    font-size: 16px;
    width: 80%;
  }
}